# Default ignored files
/shelf/
/workspace.xml

#custom
/.idea/
/venv/
/config/
/__pycache__/
/data/__pycache__/
/data/embeddings/
/data/previous_session.pickle
/eval_output/__pycache__/
/evaluation/__pycache__/
/matrix/__pycache__/
/preprocessing/__pycache__/
/search/__pycache__/
/tests/__pycache__/
/tf_idf/__pycache__/
/utilities/__pycache__/
/gui/__pycache__/
/gui/colortemplates/__pycache__/
/gui/languagepacks/__pycache__/
/gui/resources/__pycache__/
/gui/builder_toolbox/__pycache__/
/gui/builder_toolbox/tkinter_objects/__pycache__/
/dist/dist-windows/config/
/dist/dist-windows/config/session/
/dist/build-windows/
/dist/dist-windows/PersonalizedSearchEngine.exe
