# Default ignored files
/shelf/
/workspace.xml

#custom
/.idea/
/venv/
/__pycache__/
/data/__pycache__/
/evaluation/__pycache__/
/matrix/__pycache__/
/preprocessing/__pycache__/
/tf_idf/__pycache__/
/utilities/__pycache__/
/ui_colortemplates/__pycache__/
/ui_languagepacks/__pycache__/